@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;

  --secondary-color: #2c323d;
}

button {
  all: unset;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  display: flex;
  font-size: 5rem;
  margin: 10rem 0 4rem 0;
}

/* Screens */

#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-screen {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  background-color: white;
}

/* Tiles */

.tiles {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: white;
  font-weight: 600;
}

.tiles:hover {
  background-color: lightgray;
}

#winner-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  min-width: 60vh;
  color: white;
  background-color: var(--secondary-color);
}

#winner-screen > div {
  display: flex;
  flex: 1;
  font-size: 2rem;

  justify-content: center;
  align-items: center;
}

#setup-screen {
  display: none;
  background-color: lightblue;
}

#game-screen,
#setup-screen {
  min-height: 50vh;
  min-width: 50vh;
}

#setup-screen,
#winner-screen {
  position: absolute;
  z-index: 1;
}

/* Buttons */

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 50vh;
  min-width: 50vh;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.reset {
  margin-top: 1rem;
  height: 3vh;
  width: 10vh;
  background-color: lightblue;
}

.winner {
  margin: 1rem;
  height: 3vh;
  width: 20vh;
  background-color: white;
  color: var(--secondary-color);
}
