@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  display: flex;
  font-size: 5rem;
  margin: 10rem 0 4rem 0;
}

#game-container {
  min-height: 50vh;
  min-width: 50vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  background-color: white;
}

#setup-modal {
  display: none;
  min-height: 50vh;
  min-width: 50vh;
  z-index: 1;
  background-color: lightblue;
}

/* Tiles */

.tiles {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: white;
  font-weight: 600;
}

.tiles:hover {
  background-color: lightgray;
}

.winning-tile {
  background-color: lightgreen;
}

/* Button */

.button-container {
  display: flex;
  justify-content: flex-end;
  min-height: 50vh;
  min-width: 50vh;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 3vh;
  width: 10vh;
  background-color: lightblue;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
