@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  display: flex;
  font-size: 5rem;
  margin: 10rem 0 4rem 0;
}

#game-container {
  min-height: 50vh;
  min-width: 50vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  background-color: white;
}

.tiles {
  background-color: grey;
}
